<div class="footers">
<footer class="page-footer bg-dark text-white-50">
    <div class="footer-copyright text-center py-3">DMSM - Dovista mobile scanner manager
        <a href="/contact"> created by: BSCC</a>
     </div>
</footer>
</div>