<div class="container">
    <div class="row">
        <div class="col-md-6">
            <aside class="sidebar">
                <div class="single contact-info">
                    <h3 class="side-title">Informacje kontaktowe</h3>
                    <ul class="list-unstyled">
                    <li>
                        <div class="icon"><i class="fa fa-map-marker"></i></div>
                        <div class="info"><p>Dovista <br>IT - BSCC</p></div>
                    </li>

                    <li>
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <div class="info"><p>Service-desk: 58 533 30 51<br> Support (@LUW): 506 076 132</p></div>
                    </li>

                    <li>
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <div class="info"><p>WV-IT-HELPDESK@dovista.com<br>LUW: luw@dovista.com</p></div>
                    </li>
                    </ul>
                    <img src="styles/img/BSCC_logo.png" class="Logo">
                </div>
            </aside>
        </div>
    </div>
</div>